<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.redhat.thermostat.eclipse.main"
            class="com.redhat.thermostat.eclipse.chart.common.HostCpuViewPart"
            id="com.redhat.thermostat.eclipse.chart.hostCpuView"
            name="Host CPU"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.redhat.thermostat.eclipse.main"
            class="com.redhat.thermostat.eclipse.chart.common.HostMemoryViewPart"
            id="com.redhat.thermostat.eclipse.chart.hostMemoryView"
            name="Host Memory"
            restorable="true">
      </view>
      <view
            category="com.redhat.thermostat.eclipse.main"
            class="com.redhat.thermostat.eclipse.chart.common.VmCpuViewPart"
            id="com.redhat.thermostat.eclipse.chart.vmCpuView"
            name="VM CPU"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.redhat.thermostat.eclipse.main"
            class="com.redhat.thermostat.eclipse.chart.common.VmGcViewPart"
            id="com.redhat.thermostat.eclipse.chart.vmGcView"
            name="VM GC"
            restorable="true">
      </view>
   </extension>

</plugin>
