[Desktop Entry]
Version=1.0
Type=Application
Name=Thermostat
Comment=A monitoring and serviceability tool for OpenJDK
Excec=${thermostat.home}/bin/thermostat-client-gui
Icon=thermostat
