[Desktop Entry]
Version=1.0
Type=Application
Name=Thermostat
Comment=A monitoring and serviceability tool for OpenJDK
Exec=${thermostat.home}/bin/thermostat gui
Icon=thermostat
