<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.redhat.thermostat.eclipse.chart.vmclassstat.VmClassStatViewPart"
            id="com.redhat.thermostat.eclipse.chart.vmClassStatView"
            name="VM Classes"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.redhat.thermostat.eclipse.perspective">
         <view
               id="com.redhat.thermostat.eclipse.chart.vmClassStatView"
               minimized="false"
               relationship="stack"
               relative="com.redhat.thermostat.eclipse.chart.vmGcView">
         </view>
         <viewShortcut
               id="com.redhat.thermostat.eclipse.chart.vmClassStatView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
